<div style="width: 100%;margin-top: 20px;" id="item" *ngIf="product.id != ''">
    <h3>{{ product.name }} {{ product.price }}€</h3>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <div>Description : {{ product.description }}</div>
        <div style="margin:10px">
            <button class="btnStyle" (click)="AddToCart()">Ajouter au panier</button>
            <a class="btnStyle" [routerLink] = "['/product/shop']" >Retour</a>
        </div>
        
    </div>
</div>
<div *ngIf="error">
    Erreur
</div>