<div style="display: flex;flex-direction: column;align-items: center;">
  <div *ngIf="products$ | async as products">
    <h2 *ngIf="productsLength$ | async as productsLength">{{ productsLength }} articles dans le panier</h2>
    <h2 *ngIf="!(productsLength$ | async)">Pas d'article dans le panier</h2>
    <div id="listItem" *ngFor="let product of products">
      <app-cart-item [product]="product"></app-cart-item>
    </div>
  </div>
  <button id="btnSuppr" *ngIf="(productsLength$ | async)" class="btnStyle" (click)="DeleteAll()">Tout supprimer</button>
</div>